{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="dashboard" %}
{% endblock %}


{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Student Flows Dashboard</h1>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div id="sankey_1" style="min-width: 300px; max-width: 800px; height: 400px; margin: 1em auto; border: 1px solid silver;}"></div>
      </div>
    </div>
  </div>
</div>

<div id="sec3" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div id="sankey_2" style="min-width: 300px; max-width: 800px; height: 400px; margin: 1em auto; border: 1px solid silver;}"></div>
      </div>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
  <script src="{% static 'site/js/site.js' %}"></script>
  <script src="{% static 'Highcharts-6.0.4/code/highcharts.js' %}"></script>
  <script src="{% static 'Highcharts-6.0.4/code/modules/sankey.js' %}"></script>
  <script src="{% static 'Highcharts-6.0.4/code/modules/exporting.js' %}"></script>
  <script src="{% static 'custom/util.js' %}"></script>

  <script>

readTextFile("{% static 'local_data/result.json' %}", 
  function(data){
    // console.log(data);
    my_data = JSON.parse(data);

  }
);

var kibana_url = "https://search-sciencesprint-2xjuhqsw4tiqv355j27uu23kry.us-west-2.es.amazonaws.com";
var index_name = "customer";
sankey_data = [];

var test_entry = [{
  "cohort_year": 2003,
  "cohort_size": 108,
  "one_year": {
    "entering_major": {
      "department": "CS",
      "data": {
        "C S (BS) HONORS": {
          "E28900": {
            "Continuing - Same Major": {
              "NATURAL SCIENCES": {"C S (BS) HONORS ": {"E28900": 3}}
            }
          }
        }
      }
    }
  }//,
  //two_year: {}
}];

var test_http = function(test_url){
  var xhttp = new XMLHttpRequest();
  xhttp.open("GET", test_url, true);
  xhttp.setRequestHeader('Accept', 'application/json');
  xhttp.send();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       // alert(JSON.parse(xhttp.responseText));
       // console.log(xhttp.responseText);
       // alert(procData_1(test_entry));
       create_sankey('sankey_1', procData_1(test_entry));
    }
  };
}

// test_http(kibana_url + "/_cat/indices?v&pretty");
// test_http(kibana_url + "/bank/_search?q=*&sort=account_number:asc&pretty");
test_http(kibana_url + "/" + index_name + "/_search?q=*&pretty");

var getData = function(){
  var xhttp = new XMLHttpRequest();
  xhttp.open("GET", kibana_url, true);
  xhttp.send();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       input_data = json.parse(xhttp.responseText);
       sankey_data = procData(input_data)
       // refresh_sankey();
    }
  };
}

var inc_year = function(_year, n){
  res = _year
  while (n > 0){
    res = (parseInt(res) + 1).toString();
    n--;
  }
  return res;
}

var procData_1 = function(input_data){
  output_data = [];
  input_data.forEach(function(entry){
    // one year
    // from_major = entry["one_year"]["entering_major"]["department"];
    // entry["one_year"]["entering_major"]["data"].forEach(function(degree) {
    _data = entry["one_year"]["entering_major"]["data"];
    for (var degree in _data){
      if (_data.hasOwnProperty(degree)) {
        from_key = [inc_year(entry["cohort_year"], 0), degree];
        degree_val = _data[degree];
        for (var from_code in degree_val) {
          if (degree_val.hasOwnProperty(from_code)) {
            from_code_val = degree_val[from_code];
            for (status in from_code_val){
              if (from_code_val.hasOwnProperty(status)) {
                status_val = from_code_val[status];
                for (to_col in status_val){
                  if (status_val.hasOwnProperty(to_col)) {
                    to_col_val = status_val[to_col];
                    for (to_degree in to_col_val){
                      if (to_col_val.hasOwnProperty(to_degree)) {
                        to_degree_val = to_col_val[to_degree];
                        for (to_code in to_degree_val){
                          if (to_degree_val.hasOwnProperty(to_code)) {
                            student_number = to_degree_val[to_code];
                            to_key = [inc_year(entry["cohort_year"], 1), to_degree];
                            output_data.push({
                                from: from_key,
                                to: to_key,
                                weight: student_number
                            });
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  });
  console.log(output_data.toString());
  return output_data;
}

var procData_2 = function(input_data){
  output_data = [];
  return output_data;
}

var create_sankey = function(eid, input_data){
  chart_1 = Highcharts.chart(eid, {
      id: "chart_1",

      title: {
          text: 'Cross-Major Student Flows'
      },

      series: [{
          data: input_data,
          type: 'sankey',
          name: 'Sankey demo series' 
      }]

  });
}

// remove
/*sankey_data = [
            ['Brazil', 'Portugal', 5 ],
            ['Brazil', 'France', 1 ],
            ['Brazil', 'Spain', 1 ],
            ['Brazil', 'England', 1 ],
            ['Canada', 'Portugal', 1 ],
            ['Canada', 'France', 5 ],
            ['Canada', 'England', 1 ],
            ['Mexico', 'Portugal', 1 ],
            ['Mexico', 'France', 1 ],
            ['Mexico', 'Spain', 5 ],
            ['Mexico', 'England', 1 ],
            ['USA', 'Portugal', 1 ],
            ['USA', 'France', 1 ],
            ['USA', 'Spain', 1 ],
            ['USA', 'England', 5 ],
            ['Portugal', 'Angola', 2 ],
            ['Portugal', 'Senegal', 1 ],
            ['Portugal', 'Morocco', 1 ],
            ['Portugal', 'South Africa', 3 ],
            ['France', 'Angola', 1 ],
            ['France', 'Senegal', 3 ],
            ['France', 'Mali', 3 ],
            ['France', 'Morocco', 3 ],
            ['France', 'South Africa', 1 ],
            ['Spain', 'Senegal', 1 ],
            ['Spain', 'Morocco', 3 ],
            ['Spain', 'South Africa', 1 ],
            ['England', 'Angola', 1 ],
            ['England', 'Senegal', 1 ],
            ['England', 'Morocco', 2 ],
            ['England', 'South Africa', 7 ],
            ['South Africa', 'China', 5 ],
            ['South Africa', 'India', 1 ],
            ['South Africa', 'Japan', 3 ],
            ['Angola', 'China', 5 ],
            ['Angola', 'India', 1 ],
            ['Angola', 'Japan', 3 ],
            ['Senegal', 'China', 5 ],
            ['Senegal', 'India', 1 ],
            ['Senegal', 'Japan', 3 ],
            ['Mali', 'China', 5 ],
            ['Mali', 'India', 1 ],
            ['Mali', 'Japan', 3 ],
            ['Morocco', 'China', 5 ],
            ['Morocco', 'India', 1 ],
            ['Morocco', 'Japan', 3 ]
        ],*/

sankey_data = [
  {from:'Brazil', to:'Portugal', weight:5 },
  {from:'Brazil', to:'France', weight:1 },
  {from:'Brazil', to:'Spain', weight:1 },
  {from:'Brazil', to:'England', weight:1 }
]

create_sankey('sankey_1', sankey_data);
create_sankey('sankey_2', sankey_data);

  </script>

{% endblock scripts %}

